<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
<mat-accordion
  displayMode="default"
  [multi]="true"
  [hideToggle]="false"
  *ngIf="posts.length > 0 && !isLoading"
>
  <mat-expansion-panel [hideToggle]="false" *ngFor="let item of posts">
    <mat-expansion-panel-header>{{ item.title }}</mat-expansion-panel-header>
    {{ item.content }}
    <div class="img-list" *ngIf="item?.imagePath">
      <img
        width="250px"
        height="100%"
        src="{{ item?.imagePath }}"
        alt="{{ item?.title }}"
      />
    </div>
    <mat-action-row *ngIf="isAuthenticated">
      <button
        mat-mini-fab
        class="example-icon add_circle"
        [routerLink]="['/edit', item.id]"
        color="accent"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        class="example-icon add_circle"
        (click)="onDelete(item.id)"
        color="warn"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  style="margin-top: 1rem"
  [pageSizeOptions]="[5, 10, 20, 50]"
  [pageSize]="pageSize"
  [length]="totalPosts"
  (page)="onPageChange($event)"
  color="accent"
  aria-label="Select page"
  *ngIf="posts.length > 0"
></mat-paginator>
<p *ngIf="posts.length <= 0 && !isLoading" class="info-text mat-body-1">
  No posts to show!
</p>
